<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HTML</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <!-- Project -->
  <table>
  <thead>
    <tr>
        
     <th>Id</id> 
      <th>Name</th>
      <th>{{ date }}</th>
      
      
    </tr>
  </thead>
  
  <tbody>
  <ol>
  {% for stdnt in attend %}
    <tr>
    <li>
      <td>{{ stdnt.id }}</td>
      <td>{{ stdnt.name }}</td>
      <td>
      <from action="/present" action="post">
       <input type="radio" name="status" value="P">P
       <input type="radio" name="status" value="L">L
       <input type="radio" name="status" value="A">A
       <button type="submit" >confirm</button>
       
      </form>
      </td>
       </li>
    </tr>
   
   {% endfor %} 
   </ol>
  
</table>
  
</body>
</html>