{% extends "base.html" %}

{% block body %}

  
<!-- navigation bar -->
<div class="header">
  <nav class="navigator">
    <div class="logo">
      <img src="/static/image/BackgroundEraser_20250713_103630351.png">
      <h2>Develop your self</h2>
    </div>
    
    <div class="links">
      <h1 onclick="toggler()" id="toggle"><i class="fa fa-bars" aria-hidden="true"></i></h1>
      <ul id="card">
        <li>
          <a href="#">Home</a>
        </li>
         <li>
            <a href="#">About</a>
        </li>
        <li>
          <a href="#">Training</a>
        </li>
       <li>
          <a href="#">Description</a>
       </li>
      <li>
         <a href="#">Contact</a>
       </li>
      </ul>
    </div>
  </nav> 
</div>


<!-- Hero sextion -->
<div class="hero">
  

  <div class="content">
    <h2><span>Develop</span> your Self 2017 <br />Summer Training</h2>
    <p>Thinking how to spend your summer to develop your self. Most of the time summer is the most effective time for self development and to work on your self, specially Spiritually. </p>
      <a href="#">Register</a>
  </div>
    <div class="img">
    <img src="/static/image/unnamed.jpg" alt="">
  </div>

</div>

<hr />
<!-- About section -->
<div class="about"> 
  <div class="container">
    <div class="right">
      <h1>የዚህ ስልጠና ዓላማ ወጣቶችንና አዳጊዎች በሁለንተናዊ በተለይም በመንፈሳዊ ሕይወታቸው ብቁ እና ኢየሱስን የሚከተሉ ደቀ-መዛሙርት ማድረግ ነው። የብዙ ወጣቶች  የእረፍት ጊዜን ለሁለንተናዊ እድገታቸው እንዲሰሩ የሚረዳ ነው።</h1>
      <p>ስልጠናው የሚካህሄደው በየ ዓመቱ መጨረሻ ሲሆን በየክረምቱ ተናሪዎች ና ወጣቶች ከትምህርታቸው ወደ እረፍት ሲገቡ ጊዜያቸውን በከንቱ እንዳያሳልፉ በዝ9ህ ጊዤ እንዲታነጹ የታሰበ ነው። በ 2016 ክረምት ደግሞ ሥልጠናው የሚጀምረው ከነሐሴ 28 - ጳጉሜ 1 ድረስ ሲሆን መክፈቻው ፕሮግራም በነሀሴ 27 ይካሄዳል።</p>
      <a href="#">Register</a>

    </div>
    
    <div class="left">

      <ul>
        <li>
          <div class="icon"><i class="fa-solid fa-phone"></i></div>
          <div class="text">
            <h2>ስለ አዘጋጅ</h2>
            <p>ይህ ስልጠና የተዘጋጀው በዳቶ ፋረስ ሕ/ብ ቤተ-ክርስቲያን የታዳጊዎች ና የወጣቶች የአገልግሎት ክፍል ነው። ለዚህም ስልጠና ታዳጊዎች ማለትም ዕድሜያቸው ከ12 - 14 እና ወጣቶች ማለትም ዕድሜያቸው 15 በላይ ።</p>
          </div>
        </li>
        <li>
          <div class="icon"> <i class="fa-brands fa-telegram"></i></div>
          <div class="text">
            <h2>ስለ አሰልጣኞች</h2>
            <p>ይህ ስልጠና የተዘጋጀው በዳቶ ፋረስ ሕ/ብ ቤተ-ክርስቲያን አሥተባባሪነት ይደረጋል። ለዚህም ሥልጠና ያሰለጥኑ ዘንድ ከሐዋሳ እ ከሐዋሳ ውጭ በተጋባዥ እንግዶች እና በቤተ-ክርስቲያናችን አስተማሪዎች ይሰጣል።</p>
          </div>
        </li>

        <li>
          <div class="icon"><i class="fa-brands fa-instagram"></i></div>
          <div class="text">
            <h2>ስለ አሰጣጥ</h2>
            <p>ለዚህም ስልጠና ታዳጊዎች ማለትም ዕድሜያቸው ከ12 - 14 እና ወጣቶች ማለትም ዕድሜያቸው 15 በላይ የሚሳተፉ ሲሆን ታዳጊዎች በጠዋት ፈረቃ ማለትም 2:30 - 5:30 ድረስና ወጣቶች ደግሞ 8:00-11:00 ድረስ ይሰለጥናሉ።</p>
          </div>
        </li>
      </ul>
    </div>
    
  </div>
</div>

<hr />
<!-- the five weeks of the training -->
<div class="weeks">
  <div class="container">
    <div class="info">
      <img srcset="" src="/static/image/digital.jpg" alt="">
      <div class="text">
        <h2>Digital purity</h2>
        <p>ይህ ዘመን የቴክኖሎጂ ስለሆነ ከወትሮው ይልቅ የክርስቲያንን ቅድስና የሚነጥቁ ብዙ ነገሮች አሉ። እነዚህን ጨምሮ በስልካችን የምንጠቀማቸውን ማህበራው ሚድያዎች እንዴት ማስተዳደር እንዳለብን እንማራለን።</p>
      </div>
    </div>


    <div class="info">
      <img srcset="" src="/static/image/church-planting-7-1000x500.jpg" alt="">
      <div class="text">
        <h2>ባለአደራነት</h2>
        <p>ይህ ዘመን የቴክኖሎጂ ስለሆነ ከወትሮው ይልቅ የክርስቲያንን ቅድስና የሚነጥቁ ብዙ ነገሮች አሉ። እነዚህን ጨምሮ በስልካችን የምንጠቀማቸውን ማህበራው ሚድያዎች እንዴት ማስተዳደር እንዳለብን እንማራለን።</p>
      </div>
    </div>



    <div class="info">
      <img srcset="" src="/static/image/digital.jpg" alt="">
      <div class="text">
        <h2>Digital purity</h2>
        <p>ይህ ዘመን የቴክኖሎጂ ስለሆነ ከወትሮው ይልቅ የክርስቲያንን ቅድስና የሚነጥቁ ብዙ ነገሮች አሉ። እነዚህን ጨምሮ በስልካችን የምንጠቀማቸውን ማህበራው ሚድያዎች እንዴት ማስተዳደር እንዳለብን እንማራለን።</p>
      </div>
    </div>



    <div class="info">
      <img srcset="" src="/static/image/love.jpeg" alt="">
      <div class="text">
        <h2>ቅድመ ጋብቻ</h2>
        <p>ይህ ዘመን የቴክኖሎጂ ስለሆነ ከወትሮው ይልቅ የክርስቲያንን ቅድስና የሚነጥቁ ብዙ ነገሮች አሉ። እነዚህን ጨምሮ በስልካችን የምንጠቀማቸውን ማህበራው ሚድያዎች እንዴት ማስተዳደር እንዳለብን እንማራለን።</p>
      </div>
    </div>
    
    
    <div class="info">
      <img srcset="" src="/static/image/mission.jpeg" alt="">
      <div class="text">
        <h2>ተልዕኳዊ የሕወት ዘይቤ</h2>
        <p>ይህ ዘመን የቴክኖሎጂ ስለሆነ ከወትሮው ይልቅ የክርስቲያንን ቅድስና የሚነጥቁ ብዙ ነገሮች አሉ። እነዚህን ጨምሮ በስልካችን የምንጠቀማቸውን ማህበራው ሚድያዎች እንዴት ማስተዳደር እንዳለብን እንማራለን።</p>
      </div>
    </div>
  </div>
</div>




{% endblock %}